@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-ima {
    background-size: cover;
    width: 500px;
}

.main-tot {
    font-family: "Bree serif";
    text-align: center;
    padding: 20px;
}

.main-head {
    color: #183b56;
}

.main-para {
    color: #616e7c;
}

.ima {
    height: 125px;
    width: 200px;
}

.imainner {
    margin-right: 20px;
    margin-bottom: 20px;
}

.tot {
    padding: 20px;
}

.bg-container3 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.tot3 {
    color: #323f4b;
    background-color: #f6c56e;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main3 {
    font-family: "Bree Serif";
}

.para {
    font-family: "Roboto";
}

.para3 {
    font-weight: bold;
}

.but3 {
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.bg-container1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 100vh;
}

.main1 {
    font-family: "Bree serif";
    color: #5752ab;
    font-size: 30px;
}

.bg1 {
    background-color: #ffffff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
}

.p1 {
    color: #323f4b;
    font-family: "Roboto";
}

.bu1 {
    color: #171f46;
    background-color: #ffffff;
    margin-right: 10px;
}

.but1 {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border-color: #d7dfe9;
    font-size: 15px;
}

.but11 {
    height: 41px;
}

.bg-container4 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 100vh;
    font-family: "Roboto";
}

.para4 {
    color: #7b8794;
    font-size: 13px;
}

.main4 {
    color: #323f4b;
    font-size: 19px;
}

.c4 {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 19px;
}

.p4 {
    color: #7b8794;
    font-size: 15px;
}

.b4 {
    background-color: #323f4b;
    border-radius: 8px;
    height: 45px;
    width: 150px;
    font-size: 15px;
    color: #ffffff;
}

.bu4 {
    height: 40px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}