@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.ima {
    height: 150px;
    width: 200px;
    margin-bottom: 5px;
}

.bg-ima {
    height: 100vh;
    height: 300px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
    margin-bottom: 20px;
}

.head {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    font-weight: normal;
}

.artis {
    margin-right: 30px;
}

.grp {
    width: 300px;
}

.t {
    font-weight: bold;
    font-size: 15px;
    color: #151765;
}

.h {
    text-align: center;
}

.total {
    padding: 20px;
}

.inbg {
    background-color: #151765;
    padding: 20px;
    margin-bottom: 10px;
}

.ima {
    height: 150px;
    width: 200px;
    margin-bottom: 5px;
}

.s {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}

.artis {
    margin-right: 30px;
}

.v {
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
}

.h-f {
    font-size: 15px;
    color: #5a7184;
}

.t1 {
    font-weight: bold;
    font-size: 23px;
    color: #151765;
}

.t2 {
    font-weight: bold;
    font-size: 12px;
    color: #5a7184;
}

.k {
    padding: 15px;
}

.bu {
    border-radius: 15px;
    background-color: #151765;
    font-weight: bold;
    color: #ffffff;
    width: 100px;
}

.l {
    text-align: right;
}